<!DOCTYPE html>
<html lang="<%= __('lang') %>">
  <head>
    <title><%= __('title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="description" content="<%= __('description') %>">
    <link rel="stylesheet" href="/styles/importer.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Lato:300" rel="stylesheet" media="all" async="true">
  </head>
  <body class="homepage">
    <%- partial('../partials/nav.ejs') %>
    <%- body %>
  </body>
</html>
