<!DOCTYPE html>
<html lang="<%= __('lang') %>">
  <head>
    <title><%= __('title') %> - <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="description" content="<%= __('description') %>">
    <link rel="stylesheet" href="/styles/importer.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" media="all" async="true">
  </head>
  <body>
    <%- partial('../partials/nav.ejs') %>
    <header>
      <div class="container">
        <p class="h1"><%= __('title') %></p>
        <p class="h2"><%= title %></p>
      </div>
    </header>
    <main class="container row">
      <section class="col-8">
        <div class="content">
          <%- body %>
        </div>
      </section>
      <aside class="col-4">
          <div class="widget server">
            <p class="title"><%= __('title') %></p>
            <p>IP: <span><%= __('ip') %></span></p>
            <p>Online: 1 / 100</p>
          </div>
          <div class="widget goal">
            <p class="title">Donation Goal</p>
            <progress value="10" max="30"></progress>
            <p>
              <span class="actual">10</span> / <span class="top">30</span> USD
            </p>
          </div>
          <div class="widget top">
            <p class="title">Top Donator</p>
            <figure>
              <img src="https://minotar.net/helm/JosueDanielBust/50.png" alt="Minecraft User Helm">
              <figcaption>
                <p class="user">JosueDanielBust</p>
              </figcaption>
            </figure>
          </div>
          <div class="widget recent">
            <p class="title">Recent Donations</p>
            <figure>
              <img src="https://minotar.net/helm/JosueDanielBust/50.png" alt="Minecraft User Helm">
              <figcaption>
                <p class="user">JosueDanielBust</p>
                <p>
                  <span class="date">26 November 2018</span> &#8227; <span class="quantity">5.00 USD</span>
                </p>
              </figcaption>
            </figure>
            <figure>
              <img src="https://minotar.net/helm/ricardogottheil/50.png" alt="Minecraft User Helm">
              <figcaption>
                <p class="user">ricardogottheil</p>
                <p>
                  <span class="date">26 November 2018</span> &#8227; <span class="quantity">5.00 USD</span>
                </p>
              </figcaption>
            </figure>
      </aside>
    </main>
    <%- partial('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
