body.homepage {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: $green;
    background-image: url('/images/background_c.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .content {
        text-align: center;
        padding: 30vh 0 0;
        h1, h2, h3 {
            margin: 0;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }
        h1 {
            color: $green;
            font-display: block;
            font-family: 'Bad Script', cursive;
            font-size: 5rem;
        }
        h2, h3 {
            //color: #AAAAAA;
            color: $white;
        }
        h3 {
            cursor: pointer;
            padding: 1rem 0;
            transition: 0.3s;
            &:hover {
                color: $green;
            }
        }
    }
}