$white: #ffffff;
$gray: #bbbbbb;
$black: #444444;
$green: #00AAAA;
$green-lighter: #00CCCC;

body {
    color: $black;
    font-size: 16px;
    font-display: auto;
    font-family: 'Lato', sans-serif;
}

.bubble {
    background-color: $green;
    display: inline-block;
    padding: 0.3rem 2rem;
    border-radius: 8px;
    position: relative;
    span {
        color: $white;
    }
    &:before {
        content: "";
        background-color: $green;
        position: absolute;
        height: 10px;
        width: 10px;
        top: -2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: -9;
    }
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(10px);
    }
}
nav {
    background-color: $white;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    position: relative;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        li {
            padding: 0;
            a {
                color: $black;
                display: block;
                padding: 1rem;
                text-decoration: none;
                transition: 1s;
                &:hover {
                    color: $green;
                }
            }
            &.mark {
                padding: 0 2rem;
                a {
                    color: $green;
                    font-weight: bold;
                }
            }
        }
    }
}
header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url('/images/background_c.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
    p {
        color: $white;
        margin: 0;
        &.h1 {
            font-size: 4rem;
        }
        &.h2 {
            font-size: 2rem;
        }
    }
}
aside {
    .widget {
        font-weight: 300;
        margin: 2rem 0;
        p {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            &.title {
                color: $green;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 1px dashed $green;
                margin-bottom: 1rem;
                text-align: left;
            }
        }
        &.goal {
            progress {
                width: 100%;
            }
            p {
                text-align: center;
                span.actual {
                    font-weight: 400;
                }
                &.title {
                    text-align: left;
                }
            }
        }
        figure {
            display: flex;
            margin: 1rem 0;
            figcaption {
                margin-left: 1rem;
                padding: 0.3rem 0;
                p.user {
                    font-weight: 400;
                }
            }
        }
    }
}
section {
    .content {
        margin: 0 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        div {
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0;
            label {
                display: none;
            }
            input, textarea {
                font-size: 1rem;
                font-weight: 300;
                padding: 0.5rem 1rem;
                border: 1px solid $gray;
                border-radius: 1px;
                &:hover, &:active, &:focus {
                    border-color: $green;
                }
            }
            textarea {
                resize: none;
            }
            input[type="file"] {
                border: unset;
            }
            &.keep {
                display: flex;
                flex-direction: row;
                align-items: center;
                label {
                    display: unset;
                    &::after {
                        content: ": ";
                    }
                }
            }
        }
    }
    p {
        margin: 0;
    }
    a {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $gray;
        }
    }
    button, input[type="submit"], .btn, .button {
        background-color: $green;
        border: unset;
        border-radius: 1px;
        color: $white;
        cursor: pointer;
        margin: 1rem 0;
        padding: 1rem;
        transition: 1s;
        &:hover {
            background-color: $green-lighter;
        }
    }
    ul {
        column-count: 2;
        padding: 0 1rem;
        list-style: none;
        li {
            padding: 0.5rem 0;
            &:before {
                content: '●';
                color: $green;
                margin-right: 1rem;
            }
        }
    }
}
footer {
    margin-top: 2rem;
    padding: 2rem 0;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            margin: 0 1rem;
            padding: 0;
            a {
                color: $green;
                text-decoration: none;
                &:hover {
                    color: $gray;
                }
            }
        }
    }
    p {
        text-align: center;
    }
}

.item-list {
    article {
        margin-bottom: 2rem;
        .item-image {
            padding: 0 1.5rem;
            img {
                width: 100%;
            }
        }
        .item-content {
            padding: 1rem;
            text-align: center;
            p {
                margin: 0;
                &:first-child {
                    font-size: 1.3rem;
                }
                &.button {
                    font-size: 1rem;
                    margin-top: 1rem;
                    padding: 0.5rem 1rem;
                    display: inline-block;
                }
            }
        }
    }
}

.item-info {
    article {
        display: flex;
        margin-bottom: 3rem;
        .item-image {
            flex-basis: 30%;
            img {
                width: 100%;
            }
        }
        .item-content {
            flex-basis: 70%;
            padding: 0 1rem;
            p {
                &:first-child {
                    color: $green;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#checkout {
    h3 {
        border-bottom: 1px dashed $green;
        margin: 2rem 0;
    }
    .status {
        h4 {
            background-color: $green;
            color: $white;
            margin: 0;
            padding: 0.5rem 1rem;
        }
        div {
            border: 1px dashed $green;
            border-top-width: 0;
            display: flex;
            flex-direction: row;
            padding: 0.5rem 1rem;
            p {
                font-weight: 300;
                flex-basis: 60%;
                &:first-child {
                    font-weight: 400;
                    flex-basis: 40%;
                }
            }
        }
    }
}